@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  cursor: default;
}

body {
  width: 100%;
  min-height: 100vh;
  background: rgb(11, 11, 11);
  display: flex;
  align-items: center;
  justify-content: center;

  .main {
    padding: 20px;
    height: 100%;

    .quesNum {
      text-transform: uppercase;
      font-size: 24px;
      font-weight: 600;
      letter-spacing: 1px;
      color: white;
    }

    .main-wrap {
      margin-left: 40px;
      margin-top: 10px;
      width: 100%;

      .qHead {
        font-weight: 300;
        font-size: 36px;
        color: gray;
      }

      .mainQ {
        margin-top: 10px;
        color: lightgray;
        font-weight: 400;
        font-size: 20px;
      }

      .options {
        margin-top: 20px;

        .option1,
        .option2,
        .option3,
        .option4 {
          margin-top: 30px;

          .optionN {
            color: gray;
            margin-bottom: 10px;
          }

          .opBtn {
            display: inline-block;
            color: rgb(11, 11, 11);
            padding: 5px 20px;
            border-radius: 3px;
            font-weight: 500;
            background: rgb(71, 192, 176);
            cursor: pointer;
            border: none;
            outline: none;
            font-size: 16px;
            transition: 0.2s;
            user-select: none;

            &:hover {
              background: rgb(0, 0, 0);
              color: rgb(71, 192, 176);
              border-radius: 5px;
              transition: 0.2s;
            }
          }

          .green {
            background: rgb(81, 223, 81);
          }

          .red {
            background: rgb(235, 57, 57);
          }

          .no-click {
            pointer-events: none;
          }
        }
      }

      .index {
        margin-top: 40px;
        color: rgb(187, 187, 187);
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      .next {
        display: inline-block;
        background: rgb(71, 192, 176);
        border: none;
        outline: none;
        padding: 0px 10px;
        cursor: pointer;
        font-weight: 500;
        font-size: 20px;
      }
    }
  }

  .pop-up {
    position: absolute;
    background: rgb(255, 52, 113);
    padding: 30px 50px;
    font-weight: lighter;
    display: flex;
    flex-direction: column;
    align-items: center;
    visibility: hidden;
    pointer-events: none;

    h1 {
      padding: 0px 20px;
    }

    .play {
      display: inline-block;
      background: none;
      border: 2px solid black;
      font-size: 14px;
      text-transform: uppercase;
      padding: 6px 10px;
      font-weight: bold;
      outline: none;
      margin-top: 10%;
      cursor: pointer;
    }
  }

  .end {
    visibility: visible;
    pointer-events: all;
  }
}