@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  cursor: default;
}

body {
  width: 100%;
  min-height: 100vh;
  background: #0b0b0b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .main {
  padding: 20px;
  height: 100%;
}

body .main .quesNum {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 1px;
  color: white;
}

body .main .main-wrap {
  margin-left: 40px;
  margin-top: 10px;
  width: 100%;
}

body .main .main-wrap .qHead {
  font-weight: 300;
  font-size: 36px;
  color: gray;
}

body .main .main-wrap .mainQ {
  margin-top: 10px;
  color: lightgray;
  font-weight: 400;
  font-size: 20px;
}

body .main .main-wrap .options {
  margin-top: 20px;
}

body .main .main-wrap .options .option1,
body .main .main-wrap .options .option2,
body .main .main-wrap .options .option3,
body .main .main-wrap .options .option4 {
  margin-top: 30px;
}

body .main .main-wrap .options .option1 .optionN,
body .main .main-wrap .options .option2 .optionN,
body .main .main-wrap .options .option3 .optionN,
body .main .main-wrap .options .option4 .optionN {
  color: gray;
  margin-bottom: 10px;
}

body .main .main-wrap .options .option1 .opBtn,
body .main .main-wrap .options .option2 .opBtn,
body .main .main-wrap .options .option3 .opBtn,
body .main .main-wrap .options .option4 .opBtn {
  display: inline-block;
  color: #0b0b0b;
  padding: 5px 20px;
  border-radius: 3px;
  font-weight: 500;
  background: #47c0b0;
  cursor: pointer;
  border: none;
  outline: none;
  font-size: 16px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

body .main .main-wrap .options .option1 .opBtn:hover,
body .main .main-wrap .options .option2 .opBtn:hover,
body .main .main-wrap .options .option3 .opBtn:hover,
body .main .main-wrap .options .option4 .opBtn:hover {
  background: black;
  color: #47c0b0;
  border-radius: 5px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

body .main .main-wrap .options .option1 .green,
body .main .main-wrap .options .option2 .green,
body .main .main-wrap .options .option3 .green,
body .main .main-wrap .options .option4 .green {
  background: #51df51;
}

body .main .main-wrap .options .option1 .red,
body .main .main-wrap .options .option2 .red,
body .main .main-wrap .options .option3 .red,
body .main .main-wrap .options .option4 .red {
  background: #eb3939;
}

body .main .main-wrap .options .option1 .no-click,
body .main .main-wrap .options .option2 .no-click,
body .main .main-wrap .options .option3 .no-click,
body .main .main-wrap .options .option4 .no-click {
  pointer-events: none;
}

body .main .main-wrap .index {
  margin-top: 40px;
  color: #bbbbbb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .main .main-wrap .next {
  display: inline-block;
  background: #47c0b0;
  border: none;
  outline: none;
  padding: 0px 10px;
  cursor: pointer;
  font-weight: 500;
  font-size: 20px;
}

body .pop-up {
  position: absolute;
  background: #ff3471;
  padding: 30px 50px;
  font-weight: lighter;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  visibility: hidden;
  pointer-events: none;
}

body .pop-up h1 {
  padding: 0px 20px;
}

body .pop-up .play {
  display: inline-block;
  background: none;
  border: 2px solid black;
  font-size: 14px;
  text-transform: uppercase;
  padding: 6px 10px;
  font-weight: bold;
  outline: none;
  margin-top: 10%;
  cursor: pointer;
}

body .end {
  visibility: visible;
  pointer-events: all;
}
/*# sourceMappingURL=style.css.map */