p{
	color: darkseagreen;
	background-color: floralwhite;
	font-size: 34px;
}
.cntr{
	margin-left: auto;
	margin-right: auto;
}
.cntrr{
	display: block;
	margin-left: auto;
	margin-right: auto;
}
img{
	opacity: 0.5;
}